body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  body {
      padding-top: 50px;
  }
}
